$grey: #4B4D4E;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrap{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width: 1200px){
    .wrap{
        max-width: 1144px;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    min-width: 320px;
}

h1{
    font-size: 47px;
    line-height: 57px;
    color: #000000;
    font-weight: 400;
    margin-bottom: 16px;
}
.title span{
    color: $grey;
    font-size: 17px;
    line-height: 21px;
}
.title{
    margin-bottom: 56px;
}

.steps{
    display: flex;
}

.step{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.step__left{
    flex: 0 0 44px;
    height: 44px;
    background-color: #D0D0D0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 100%;
    line-height: 24px;
    margin-right: 17px;
}

.step.active .step__left{
    background-color:  #1BA2E3;
}
.step.complied .step__left{
    background-color:  #032E49;
}
.step__right div{
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $grey;
}
.step__right span{
    font-size: 12px;
    line-height: 15px;
    color: $grey;
}

.step:first-child:after{
    content: "";
    display: block;
    width: 38px;
    height: 1px;
    background-color: #B9B9BE;
    margin: 0 20px;
}
.step:nth-child(2):after{
    content: "";
    display: block;
    width: 93px;
    height: 1px;
    background-color: #B9B9BE;
    margin: 0 20px;
}




@media(min-width: 1200px){
    
    .step{
        white-space: nowrap;
        flex: 1;
    }
    .step:first-child:after{
        flex: 0 0 38px;
       
    }
    .step:first-child{
        margin-right: 30px;
    }
    .step:nth-child(2):after{
        flex: 0 0 93px;
    }
    .step:nth-child(2){
        margin-right: 30px;
    }
}
@media(max-width: 991px){
    .steps{
        flex-direction: column;
        
    }
    .step{
        margin-bottom: 50px;
    }
    .step:first-child:after{
        display: none;
    }
    .step:nth-child(2):after{
        display: none;
    }
}

@media(max-width: 767px){
    h1{
        font-size: 37px;
        line-height: 47px;
    }
}

@media(max-width: 559px){
    h1{
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 10px;
    }
    .title span{
        font-size: 16px;
    }

    .title{
        margin-bottom: 35px;
    }
}

@media(max-width: 374px){
    body{
        zoom: 0.9;
    }
}




.range{
    background-color: #F9F9F7;
    padding: 40px;
}
.range__top{
   display: flex;
   justify-content: space-between;
}

.range__top__left{
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.range__top__right{
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 5px;
    border-bottom: 1px dashed;
}
.range__wrap{
    margin-top: 20px;
}
.range__wrap input{
    width: 100%;
}

.range__diapason{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}
.srok{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #c2c2c2;
    margin-top: 28px;
    padding-top: 16px;
}
.srok__wrap{
    display: flex;
}
.srok__wrap input{
    display: none;
}
.srok span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.srok__wrap label{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 2px;
    border-bottom: 1px dashed;
    margin-left: 38px;
    cursor: pointer;
}
.srok__wrap input:checked + label{
    color: #03A3FF;
    border-bottom: 0;
}
.step__left__wraper{
    margin-bottom: 30px;
}

.input{
    position: relative;
}
.input > label{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    bottom: -10px;
    margin-left: 10px;
    padding: 0 5px;
    z-index: 1;
}

.input input{
    display: block;
    background: #FFFFFF;
    border: 1px solid #EFF1F1;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 0 15px;
}

.input input:focus{
    outline: none;
    border: 1px solid #000;
}
.input input:hover{
    border-color: #c4c4c4;
}
.selectric .label{
    height: 45px;
    line-height: 45px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.selectric{
    background-color: transparent;
    border: 1px solid #EFF1F1;
}

.selectric .button{
    height: 45px;
}
.selectric .button:after{
    background-image: url('../img/v.svg');
    font-size: 0;
    width: 100%;
    height: 100%;
    background-size: 12px 6px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    
}
.selectric .button{
    background-color: transparent;
}

.selectric{
    border: 1px solid #EFF1F1;
    border-radius: 4px;
    z-index: 0;
}
.selectric-open .selectric{
    border: 1px solid #000;
}
.selectric-open{
    z-index: 0;
}
.selectric-open.selectric-above{
    z-index: 2;
}
.selectric-open .selectric-items{
    border: 1px solid #000;
    border-radius: 4px;
}

.selectric-items{
    background-color: transparent;
}

.selectric-items li.highlighted{
    background-color: #dcdcdc;
}
.selectric-items li:hover{
    background-color: #dcdcdc;
}
.selectric-items li, .selectric-items ul{
    font-size: 16px;
}